* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

:root {
  --primary: #023e8a;
  --light: #f8f9fa;
  --grey: #e5e5e5;
  --dark: #4d194d;
  --danger: #ef233c;
}

.primary {
  background-color: var(--primary);
  color: var(--light);
}

.dark {
  background-color: var(--dark);
  color: var(--light);
}

.round {
  border-radius: 50%;
}

.nav,
.nav ul {
  display: flex;
}

.nav {
  padding: 0.2rem 2rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.brand {
  font-size: 1.5rem;
}

.nav ul li {
  margin: 1rem;
  font-size: 1.2rem;
}

.nav ul li a {
  text-decoration: none;
  color: var(--light);
}

.container,
.user {
  width: 90%;
  margin: 1rem auto;
}

.form {
  margin: 0.5rem 0;
}

.form input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.form input[type="submit"]:hover,
.btn:hover {
  cursor: pointer;
}

.form input,
.form + .btn {
  display: block;
  width: 100%;
}

.loading img {
  display: block;
  margin: 0 auto;
}

.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--grey);
}

.card * {
  margin: 0.2rem 0;
}

.card img {
  width: 100px;
  height: 100px;
}

.btn {
  padding: 0.5rem 2rem;
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border: none;
}

.about,
.repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.about img {
  height: 250px;
  width: 250px;
}

.block {
  display: block;
}

.fa-check {
  color: rgb(19, 211, 19);
}

.fa-blog {
  color: orange;
}

.fa-arrow-up-right-from-square {
  color: var(--danger);
}

.fa-xmark,
.fa-location-dot {
  color: red;
}

.info * {
  margin-top: 0.3rem;
}

.user-img img {
  margin: 0 auto;
}

.visit-profile a {
  color: var(--light);
}

.user-metrics,
.repo-metrics {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.2rem;
}

.badge {
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 10px;
  margin-right: 0.1rem;
}

.badge-danger {
  background-color: #db222a;
  color: var(--light);
}

.badge-success {
  background-color: #70e000;
  color: var(--dark);
}

.badge-warning {
  background-color: #ffba08;
  color: var(--dark);
}

.badge-info {
  background-color: #4361ee;
  color: var(--light);
}

.repo-item {
  padding: 1rem;
  border: 1px solid var(--grey);
}

.repo-name {
  font-weight: 700;
}

.repo-name {
  color: var(--danger);
  text-decoration: underline;
}

.repo-desc {
  font-weight: 500;
}

.repo-metrics,
.repo-desc {
  margin-top: 0.5rem;
}

.user-repos,
.about {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid var(--grey);
}

.user-repos h2 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #9d4edd;
}

.about-page {
  width: 90%;
  margin: 1rem auto;
}

.alert {
  background-color: #f9c74f;
  color: black;
  padding: 0.5rem 1rem;
}
